/*
    breakpoints
    0px-600px: Phone
    600px -900px:  tablet portrait
    900 px -1200px: tablet landscape
    [1200px -1800px]: this where aor normal style applies
    1800px + :  big desktop

    $breakpoints choices
    Phone
    tab-port
    tab-land
    big-desktop
*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-60%);
  }
  75% {
    transform: translateX(10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(60%);
  }
  75% {
    transform: translateX(-10%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-60%);
  }
  90% {
    transform: translateX(5%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(60%);
  }
  90% {
    transform: translateX(-2%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  90% {
    transform: translateY(-2%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInBottom1 {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  90% {
    transform: translateY(-2%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes img-fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes img-fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: 'Source Sans Pro','Nunito', sans-serif;
  line-height: 1.7;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0 3rem;
  background-color: #F2F2F2;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #cb3737;
  color: #fafafa;
}

img {
  object-fit: cover;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 5.5rem;
  letter-spacing: .5rem;
  animation: moveInRight 1.5s;
}

@media only screen and (max-width: 56.25em) {
  .heading-primary-main {
    font-size: 4.5rem;
    letter-spacing: .2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-primary-main {
    font-size: 2.2rem;
    letter-spacing: .2rem;
  }
}

.heading-sub {
  display: block;
  font-size: 2rem;
  letter-spacing: .5rem;
  animation: moveInLeft 1.5s;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .heading-sub {
    font-size: 1.5rem;
    letter-spacing: .2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-sub {
    font-size: 1;
    letter-spacing: 0rem;
  }
}

.section-heading {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: 0.5rem solid #cb3737;
  display: inline-block;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  .section-heading {
    font-size: 1.7rem;
  }
}

.paragraph {
  font-size: 2rem;
  font-weight: 400;
  text-align: text-align;
}

.paragraph:not(:last-child) {
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .paragraph {
    font-size: 1.7rem;
  }
}

.margin-top-small {
  margin-top: 2rem !important;
}

@media only screen and (max-width: 37.5em) {
  .margin-top-small {
    margin-top: 1.5rem !important;
  }
}

.margin-top-medium {
  margin-top: 4rem !important;
}

@media only screen and (max-width: 37.5em) {
  .margin-top-medium {
    margin-top: 3rem !important;
  }
}

.margin-top-big {
  margin-top: 8rem !important;
}

@media only screen and (max-width: 37.5em) {
  .margin-top-big {
    margin-top: 6rem !important;
  }
}

.padding-top-small {
  padding-top: 2rem !important;
}

@media only screen and (max-width: 37.5em) {
  .padding-top-small {
    padding-top: 1rem !important;
  }
}

.padding-top-medium {
  padding-top: 4rem !important;
}

@media only screen and (max-width: 37.5em) {
  .padding-top-medium {
    padding-top: 3.5rem !important;
  }
}

.padding-top-big {
  margin-top: 8rem !important;
}

@media only screen and (max-width: 37.5em) {
  .padding-top-big {
    padding-top: 6rem !important;
  }
}

.padding-right {
  padding-right: 4rem !important;
}

@media only screen and (max-width: 37.5em) {
  .padding-right {
    padding-right: 2.5rem !important;
  }
}

.padding-left {
  padding-left: 4rem !important;
}

@media only screen and (max-width: 37.5em) {
  .padding-left {
    padding-right: 2.5rem !important;
  }
}

.container {
  margin: 0 3rem;
}

.container-small {
  margin: 0 20rem;
}

.container-expand {
  margin: 0 5rem;
}

.image-animated-1 {
  animation: img-fadeInLeft 2s;
}

.image-animated-2 {
  animation: img-fadeInRight 2s;
}

.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  cursor: pointer;
  color: #cb3737;
  background-color: #F2F2F2;
  text-transform: capitalize;
  margin-top: 1rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  animation: moveInBottom 2.5s;
  font-weight: 700;
}

.btn:link::after, .btn:visited::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #e3e3e3;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s;
}

.btn:link:hover::after, .btn:visited:hover::after {
  transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}

.btn:link:hover, .btn:visited:hover {
  transition: all .2s;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.btn:link:active, .btn:visited:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.btn-inverse:link, .btn-inverse:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  color: #e3e3e3;
  cursor: pointer;
  background-color: #cb3737;
  text-transform: capitalize;
  margin-top: 1rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  animation: moveInBottom 2.5s;
  font-weight: 700;
}

.btn-inverse:link::after, .btn-inverse:visited::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #cb3737;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s;
}

.btn-inverse:link:hover::after, .btn-inverse:visited:hover::after {
  transform: scaleX(1.5) scaleY(1.7);
  opacity: 0;
}

.btn-inverse:link:hover, .btn-inverse:visited:hover {
  transition: all .2s;
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.btn-inverse:link:active, .btn-inverse:visited:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.btn-normal:link, .btn-normal:visited {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  color: #e3e3e3;
  cursor: pointer;
  background-color: #cb3737;
  text-transform: capitalize;
  margin-top: 1rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  animation: moveInBottom 2.5s;
  font-weight: 700;
}

.btn-normal:link:hover, .btn-normal:visited:hover {
  transition: all .2s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.btn-normal:link:active, .btn-normal:visited:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

[type$="submit"], button {
  text-decoration: none;
  display: block;
  background-color: #cb3737;
  color: #e3e3e3;
  text-transform: uppercase;
  margin-top: 2rem;
  border: none;
  width: 80%;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.3);
  position: relative;
  font-weight: 700;
  outline: none;
  padding: 2rem 3rem;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) {
  [type$="submit"], button {
    width: 90%;
    margin: 1rem auto;
  }
}

.btn-white {
  color: #cb3737;
  background-color: #F2F2F2;
}

.btn-light {
  color: #cb3737;
  background-color: #e3e3e3;
}

.btn-medium {
  font-size: 2.4rem;
  padding: 1.5rem 4rem;
}

@media only screen and (max-width: 37.5em) {
  .btn-medium {
    font-size: 1.5rem;
    padding: 1.2rem 3rem;
  }
}

.btn-outline {
  border: 0.2rem solid #cb3737;
  background-color: #fafafa;
}

.btn-outline:hover {
  border: none;
  background-color: #cb3737;
  color: #e3e3e3;
}

.btn-small {
  font-size: 1.8rem;
  padding: 1rem 1.8rem;
}

.btn-animated:active {
  transform: translateY(-0.8rem);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: all .2s;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 10%;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  animation: fadeInBottom .7s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__img--1 {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  background-image: linear-gradient(to right bottom, #061f78, #02218f), url("../images/hero-2.jpg");
  background-size: cover;
  background-blend-mode: color;
  filter: brightness(50%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__img--2 {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  background-image: linear-gradient(to right bottom, #cb3737, #ee6f57), url("../images/hero-2.jpg");
  background-size: cover;
  background-blend-mode: color;
  filter: brightness(50%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__img--3 {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  background-image: linear-gradient(to right bottom, #06783a, #088742), url("../images/hero-2.jpg");
  background-size: cover;
  background-blend-mode: color;
  filter: brightness(50%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__body {
  width: 100%;
  padding: 0 1rem;
}

.card__title {
  font-size: 3rem;
  text-align: right;
  position: absolute;
  top: 12rem;
  right: 4.5rem;
  color: #fff;
  width: 60%;
  text-transform: uppercase;
}

.card__span {
  padding: 1rem 2.5rem;
  -webkit-box-decoration-break: clone;
}

.card__span-1 {
  background-image: linear-gradient(to right bottom, rgba(6, 31, 120, 0.85), rgba(2, 33, 143, 0.85));
}

.card__span-2 {
  background-image: linear-gradient(to right bottom, rgba(203, 55, 55, 0.85), rgba(238, 111, 87, 0.85));
}

.card__span-3 {
  background-image: linear-gradient(to right bottom, rgba(6, 120, 58, 0.85), rgba(8, 135, 66, 0.85));
}

.card__paragraph {
  padding: 2rem 0;
}

.simple-card {
  background-image: repeating-linear-gradient(#fafafa, #F2F2F2);
  background-blend-mode: darken;
  text-align: left;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  animation: fadeInBottom1 .8s;
  text-align: center;
  backface-visibility: hidden;
}

@media only screen and (max-width: 56.25em) {
  .simple-card {
    margin: 2rem !important;
  }
}

.simple-card:hover {
  box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.1);
  transform: translateY(-0.7rem);
  transition: all .5s;
  font-weight: 700;
}

.simple-card-header {
  font-size: 2.4rem;
  text-transform: capitalize;
  font-weight: 400;
}

.composition {
  position: relative;
  animation: fadeInRight 3s;
}

.composition__img-box {
  width: 100%;
  backface-visibility: hidden;
}

@media only screen and (max-width: 56.25em) {
  .composition__img-box {
    margin-top: 4rem;
  }
}

.composition__img {
  width: 70%;
  position: absolute;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transition: transform .3s;
  border-radius: .1rem;
}

@media only screen and (max-width: 56.25em) {
  .composition__img {
    position: relative;
    float: right;
    width: 33.3%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }
}

.composition__img--1 {
  backface-visibility: hidden;
  top: 7rem;
}

.composition__img--1:hover {
  transform: scale(1.2) translateY(2rem);
}

@media only screen and (max-width: 56.25em) {
  .composition__img--1 {
    top: 0;
    left: -4rem;
    transition: scale(1.2);
  }
}

.composition__img--2 {
  top: 9rem;
  left: 20%;
  backface-visibility: hidden;
}

.composition__img--2:hover {
  transform: scale(1.3) translateY(2rem);
}

@media only screen and (max-width: 56.25em) {
  .composition__img--2 {
    top: -1rem;
    left: 0rem;
    z-index: 15;
    transition: scale(1.5);
  }
}

.composition__img--3 {
  top: 13.7rem;
  backface-visibility: hidden;
}

.composition__img--3:hover {
  transform: scale(1.4) translateY(2rem);
}

@media only screen and (max-width: 56.25em) {
  .composition__img--3 {
    top: 0;
    left: 4rem;
    transition: scale(1.2);
  }
}

.form {
  list-style: none;
  width: 80%;
}

@media only screen and (max-width: 37.5em) {
  .form {
    width: 100%;
  }
}

.form__group {
  padding: 1.2rem auto;
  position: relative;
}

.form__group:not(:last-child) {
  margin: 3.7rem auto;
}

.form__group-textarea {
  display: block;
  border: none;
  outline: none;
  padding: 2rem 2.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
  border-radius: .3rem;
  font-family: inherit;
  width: 100%;
  transition: all .3s ease;
}

.form__group-textarea::placeholder {
  color: #777;
  text-transform: capitalize;
}

.form__group-textarea:focus {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.form__group-input {
  display: block;
  border: none;
  outline: none;
  padding: 2rem 2.5rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
  width: 100%;
  border-bottom: .3rem solid transparent;
  border-radius: .3rem;
  font-family: inherit;
  transition: all .3s ease;
  margin-top: auto;
}

.form__group-input:focus:invalid {
  border-bottom: 0.3rem solid #cb3737;
}

.form__group-input:focus {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-bottom: .3rem solid #0ccf65;
}

.form__group-input::placeholder {
  color: #777;
  text-transform: capitalize;
}

.form__group-label {
  position: absolute;
  left: 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: .7rem;
  display: block;
  text-transform: capitalize;
}

.form__group-input:placeholder-shown + .form__group-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.popup {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__close:link, .popup__close:visited {
  font-weight: 700;
  margin-top: 2rem;
  color: inherit;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 2rem;
  font-size: 5rem;
  color: #F2F2F2;
  background: #cb3737;
  text-align: center;
  width: 8.5rem;
  border-radius: 50%;
  transition: all .3s;
}

.popup__close:link:hover, .popup__close:visited:hover {
  transform: scale(1) rotate(90deg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.popup__content {
  width: 75%;
  background-color: #fff;
  text-align: left;
  box-shadow: 0 1rem 2rem rgab(black, 0.2);
  border-radius: .5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  overflow: hidden;
}

.popup__left {
  width: 33.3%;
  display: table-cell;
}

.popup__img {
  display: block;
  width: 100%;
}

.popup__right {
  width: 66.7%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem;
}

.popup__text {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: left;
  column-count: 2;
  column-gap: 4rem;
  column-rule: .1rem solid #e3e3e3;
  -moz-column-count: 2;
  -moz-column-gap: 5rem;
  -moz-column-rule: .1rem solid #e3e3e3;
  -moz-hyphens: auto;
  hyphens: auto;
}

@media (max-width: 37.5em) {
  .popup__text {
    -moz-column-count: 0;
    column-count: 0;
    hyphens: none;
  }
}

.popup__btn {
  margin-bottom: 3rem;
}

.popup__haading-secondary {
  font-size: 2rem;
  padding-bottom: 3rem;
}

.popup__heading {
  margin-bottom: 3rem;
}

.footer {
  padding: 10rem 0;
  margin: 0 auto;
  width: 100%;
  height: 30rem;
  text-align: center;
  backface-visibility: hidden;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    margin: 0;
  }
}

.footer-logo-box {
  width: auto;
  height: 100%;
}

.footer-logo {
  height: 50%;
  width: 30%;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .footer-logo {
    width: 70%;
  }
}

@media only screen and (max-width: 56.25em) {
  .footer-logo {
    width: 100%;
  }
}

.footer-social-link a:link, .footer a:visited {
  display: inline-block;
  margin: 1.8rem auto;
  font-size: 2.4rem;
  display: inline-block;
  font-size: 2.3rem;
  color: #F2F2F2;
  background: #cb3737;
  text-align: center;
  width: 4rem;
  height: 100%;
  border-radius: 50%;
  transition: all .3s;
}

.footer-social-link a:link:not(:last-child), .footer a:visited:not(:last-child) {
  padding-right: 2rem;
}

.footer-social-link a:link:hover, .footer a:visited:hover {
  transform: scale(1.2);
}

.footer-copyright {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 5rem;
  text-transform: capitalize;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 56.25em) {
  .row {
    width: 50rem;
  }
}

.row:not(:last-child) {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="column-"] {
  float: left;
}

.row [class^="column-"]:not(:last-child) {
  margin-right: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .row [class^="column-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .row [class^="column-"] {
    width: 100% !important;
  }
}

.row .column-6 {
  width: calc((100% - 4rem)/2);
}

.row .column-4 {
  width: calc((100% - 2 * 4rem) / 3);
}

.row .column-8 {
  width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem);
}

.row .column-3 {
  width: calc((100% - 3 * 4rem) / 4);
}

.row .column-9 {
  width: calc(3 *((100% - 3 * 4rem) / 4) + 2 * 4rem);
}

.header {
  height: 96vh;
  background-image: url(../images/hero-4.png);
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  text-align: center;
}

@media only screen and (max-width: 56.25em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 85vh;
  }
}

.navbar {
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 1000;
  backface-visibility: hidden;
}

#navbar-toggle:checked ~ .navbar__list {
  display: block;
}

.navbar__logo {
  height: 4rem;
  display: block;
  position: absolute;
  top: 3.4rem;
  left: 8rem;
}

.navbar__logo:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 75em) {
  .navbar__logo {
    left: 3rem;
  }
}

.navbar-menu {
  color: #fff;
  position: fixed;
  top: 3rem;
  right: 5rem;
  font-size: 3rem;
}

.navbar__list {
  list-style: none;
  display: block;
  position: absolute;
  top: 4.2rem;
  right: 16rem;
}

@media only screen and (max-width: 56.25em) {
  .navbar__list {
    display: none;
  }
}

@media only screen and (max-width: 75em) {
  .navbar__list {
    display: none;
  }
}

.navbar #navbar-toggle {
  display: none;
}

.navbar #navbar-toggle ~ label {
  display: block;
  padding-left: 2rem;
}

@media (min-width: 75em) {
  .navbar #navbar-toggle ~ label {
    display: none;
  }
}

#navbar-toggle:checked ~ .navbar__list {
  display: block;
}

@media only screen and (max-width: 56.25em) {
  #navbar-toggle:checked ~ .navbar__list {
    background-image: url(../images/hero-4.png);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
  }
}

@media only screen and (max-width: 75em) {
  #navbar-toggle:checked ~ .navbar__list {
    background-image: url(../images/hero-4.png);
    height: 100vh;
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
  }
}

.navbar__item {
  display: inline-block;
}

.navbar__item:not(:last-child) {
  margin-right: 1rem;
}

@media only screen and (max-width: 56.25em) {
  .navbar__item {
    display: block;
    padding: 2rem 0;
  }
  .navbar__item:first-child {
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 75em) {
  .navbar__item {
    display: block;
    padding: 2rem 0;
  }
}

.navbar__link:link, .navbar__link:visited {
  color: #fafafa;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-top: .1rem solid transparent;
  padding: 1rem 2rem;
  backface-visibility: hidden;
  transition: all .2s;
}

@media only screen and (max-width: 56.25em) {
  .navbar__link:link, .navbar__link:visited {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 75em) {
  .navbar__link:link, .navbar__link:visited {
    font-size: 3rem;
  }
}

.navbar__link:link:hover, .navbar__link:visited:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-top: 0.2rem solid #fafafa;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}

@media only screen and (max-width: 75em) {
  .text-box {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -65%);
  }
}

@media only screen and (max-width: 56.25em) {
  .text-box {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -65%);
  }
}

.section__about {
  padding: 50rem 0;
  background-image: url(../images/about-cover-7.png);
  margin-top: -40rem;
  text-align: left;
  padding-bottom: 20rem;
}

@media only screen and (max-width: 56.25em) {
  .section__about {
    width: 100%;
    padding: 46rem 0;
    padding-bottom: 20rem;
    text-align: center;
  }
}

.section__about__about-text-box {
  animation: fadeInLeft 3s ease;
}

.section__services {
  padding: 15rem 0;
  text-align: center;
}

.section__experince {
  padding: 15rem 0;
  text-align: center;
}

.section__experince-short-text {
  width: 100%;
  padding: 0 5rem;
  font-size: 2.4rem;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .section__experince-short-text {
    font-size: 1.7rem;
  }
}

.work__sample {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #F2F2F2, #fafafa);
  animation: moveInBottom .5s ease-in;
  filter: contrast(110%);
  background-size: 100%;
  margin-top: 15rem;
  text-align: center;
}

.work__sample-title {
  margin-bottom: 2rem;
}

.work__sample-text-box__text {
  font-size: 2.2rem;
  font-weight: 400;
  padding: 0 10rem;
}

@media only screen and (max-width: 37.5em) {
  .work__sample-text-box__text {
    font-size: 1.6rem;
  }
}

.work__sample-nav {
  text-align: center;
  padding: 5rem 0;
}

.work__sample-nav-list {
  list-style: none;
}

.work__sample-nav-item {
  text-align: center;
  display: inline-block;
  margin-right: 1rem;
}

.work__sample-nav-item:not(:last-child) {
  border-right: 0.2rem solid #cb3737;
  padding-right: 1rem;
}

.work__sample-nav-link, .work__sample-nav-link:visited, .work__sample-nav-link:link {
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  color: inherit;
  text-transform: uppercase;
  padding: 2rem;
  transition: background-color .8s;
}

@media only screen and (max-width: 37.5em) {
  .work__sample-nav-link, .work__sample-nav-link:visited, .work__sample-nav-link:link {
    font-size: 1.3rem;
    padding: .5rem;
  }
}

.work__sample-nav-link:hover {
  color: #fff;
  background-color: #cb3737;
  padding: 2rem;
  border-radius: .5rem;
}

.work__sample-img {
  width: 100%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9);
  transition: transform .3s;
  border-radius: .5rem;
}

.work__sample-img-big {
  width: 135% !important;
  height: 40rem;
}

@media only screen and (max-width: 37.5em) {
  .work__sample-img-big {
    width: 100% !important;
  }
}

@media only screen and (max-width: 56.25em) {
  .work__sample-img-big {
    width: 100% !important;
  }
}

.section-ads {
  padding: 15rem 0;
  background-image: url(../images/hero-4.png);
  text-align: center;
  margin: 2rem auto;
}

.section-ads-content {
  animation: moveInBottom 0.8s ease-in cubic-bezier(0.165, 0.84, 0.44, 1);
}

.section-ads-heading {
  font-size: 4rem;
  color: #fff;
}

@media only screen and (max-width: 37.5em) {
  .section-ads-heading {
    font-size: 2rem;
  }
}

.section__contact {
  margin-top: 10rem;
  padding: 15rem 0;
  background-color: #fafafa;
  text-align: center;
  backface-visibility: hidden;
  padding-left: 2rem;
  padding-left: 3rem;
}

.section__contact, .section__contact-heading {
  padding-top: 6rem;
  text-align: left;
}

.section__contact-details, .section__contact ul {
  width: auto;
  list-style: none;
  font-size: 1.7rem;
  word-wrap: break-word;
  font-weight: bold;
}

@media only screen and (max-width: 37.5em) {
  .section__contact-details, .section__contact ul {
    font-size: 1.5rem;
    font-weight: normal;
  }
}

.section__contact-details ul, .section__contact li {
  padding-bottom: 5rem;
  text-align: left;
  text-transform: capitalize;
}

@media only screen and (max-width: 37.5em) {
  .section__contact-details ul, .section__contact li {
    display: inline-block;
  }
}

.section__contact #social-link a:link, .section__contact a:visited {
  display: inline-block;
  font-size: 2.4rem;
  color: #cb3737;
  background: #e3e3e3;
  text-align: center;
  width: 4rem;
  height: 100%;
  border-radius: 50%;
  transition: all .3s;
}

.section__contact #social-link a:link #social-link:not(:last-child), .section__contact a:visited #social-link:not(:last-child) {
  padding-right: 2rem;
}

.section__contact #social-link a:link:hover, .section__contact a:visited:hover {
  transform: scale(1.2);
}

.section__contact #social-link a:link #social-link ~ h3, .section__contact a:visited #social-link ~ h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-left: 0;
}
