*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro','Nunito', sans-serif;
  line-height: 1.7;
  padding: 0 4rem;
  font-weight: 300;
  box-sizing: border-box;
}

.margin-top-small {
  margin-top: 2rem !important;
}

.margin-top-medium {
  margin-top: 4rem !important;
}

.margin-top-big {
  margin-top: 8rem !important;
}

.padding-top-small {
  margin-top: 2rem !important;
}

.padding-top-medium {
  margin-top: 4rem !important;
}

.padding-top-big {
  margin-top: 8rem !important;
}
