//main:../main.scss
$primary:#fafafa; // general background
$primary-light:#F2F2F2; // like card background color
$primary-gray:#e3e3e3; // section background

$secondary:#cb3737; // buttons, logo, nav-link visite
$secondary-light:#ee6f57; // inlustrations

$black:#000;
$white:#fff;
// Grid layout
$grid-width:160rem; // grid-with defailt is 114rem
$grid-gutter:8rem; // column margin left
$grid-space:6rem; // grid margin top and buttom
