//main:../main.scss
$primary:#fafafa; // general background
$primary-light:#F2F2F2; // like card background color
$primary-gray:#e3e3e3; // section background

$tertiary:#cb3737; // buttons, logo, nav-link visite
$tertiary-light:#ee6f57; // inlustrations

// Grid layout
$grid-width:114rem; // grid-with
$grid-gutter:2rem; // column margin left
$grid-space:0 10rem; // grid margin top and buttom
