//main:../main.scss
.btn:link, .btn:visited{
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  cursor: pointer;
  color: $secondary;
  background-color: $primary-light;
  text-transform: capitalize;
  margin-top: 1rem;
  @include box-shadow(0,.8rem,2rem, $black, .3 )
  position: relative;
  animation: moveInBottom 2.5s;
  font-weight: 700;
  @include buttonBackgound-after($primary-gray);
  &:hover::after{
    transform: scaleX(1.5) scaleY(1.7);
    opacity:0;
  }

  &:hover{
    transition: all .2s;
    transform: translateY(-.3rem);
    @include box-shadow(0,1rem,2rem, $black, .5 )
  }

  &:active{
    transform: translateY(.1rem);
    box-shadow: 0 .5rem 1rem rgba($black, .5);
  }

}

.btn-inverse:link, .btn-inverse:visited{
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  color:  $primary-gray;
  cursor: pointer;
  background-color:$secondary;
  text-transform: capitalize;
  margin-top: 1rem;
  @include box-shadow(0,.8rem,2rem, $black, .3 )
  position: relative;
  animation: moveInBottom 2.5s;
  font-weight: 700;
  @include buttonBackgound-after($secondary);
  &:hover::after{
    transform: scaleX(1.5) scaleY(1.7);
    opacity:0;
  }

  &:hover{
    transition: all .2s;
    transform: translateY(-.3rem);
    @include box-shadow(0, 1rem,2rem, $black, .5 )
  }

  &:active{
    transform: translateY(.1rem);
    @include box-shadow(0,.5rem,1rem, $black, .5 )
  }

}

.btn-normal:link, .btn-normal:visited{
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  color:  $primary-gray;
  cursor: pointer;
  background-color:$secondary;
  text-transform: capitalize;
  margin-top: 1rem;
  @include box-shadow(0,.8rem,2rem, $black, .3 )
  position: relative;
  animation: moveInBottom 2.5s;
  font-weight: 700;
  &:hover{
    transition: all .2s;
    @include box-shadow(0, 1rem,2rem, $black, .5 )
  }

  &:active{
    @include box-shadow(0,.5rem,1rem, $black, .5 )
  }


}

[type$="submit"], button{
  text-decoration: none;
  display: block;
  background-color:$secondary;
  color:  $primary-gray;
  text-transform: uppercase;
  margin-top: 2rem;
  border: none;
  width: 80%;
  @include box-shadow(0,.8rem,2rem, $black, .3 )
  position: relative;
  font-weight: 700;
  outline: none;
  padding: 2rem 3rem;
  cursor: pointer;
  @include respond(phone){
    width: 90%;
  margin: 1rem auto;
  }
}

.btn-white{
  color: $secondary;
  background-color: $primary-light;
}

.btn-light{
  color: $secondary;
  background-color: $primary-gray;
}

.btn-medium{
  font-size: 2.4rem;
  padding: 1.5rem 4rem;
  @include respond(phone){
  font-size: 1.5rem;
  padding: 1.2rem 3rem;
  }
}

.btn-outline{
  border: .2rem solid $secondary;
  background-color:$primary;
  &:hover{
         border: none;
         background-color:$secondary;
        color:  $primary-gray;
  }
}

.btn-small{
  font-size: 1.8rem;
  padding: 1rem 1.8rem;
}
.btn-animated{
  &:active{
    transform: translateY(-.8rem);
    @include box-shadow(0,.2rem,.5rem, $black, .3 )
    transition: all .2s;
  }
}
