//main:../main.scss
@keyframes moveInRight{
  0%{
    opacity: 0;
    transform: translateX(-100%)
  }

  75%{
    transform: translateX(10%);
    opacity: 0.5;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform: translateX(100%)
  }

  75%{
    transform: translateX(-10%);
    opacity: 0.5;
  }

  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInButtom{
  0%{
    opacity: 0;
    transform: translateY(100%)
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
