//main:../main.scss
.margin-top-small{
  margin-top: 2rem !important;
}

.margin-top-medium{
  margin-top: 4rem !important;
}

.margin-top-big{
  margin-top: 8rem !important;
}

.padding-top-small{
  margin-top: 2rem !important;
}
.padding-top-medium{
  margin-top: 4rem !important;
}


.padding-top-big{
  margin-top: 8rem !important;
}

.container{
  margin: 0 10rem;
}
.container-small{
  margin: 0 20rem
}
.container-expand{
  margin: 0 5rem;
}
