//main:../main.scss
.header{
  height: 96vh;
  background-image: url(../images/hero-4.png);
  background-size: cover;
  background-position:center center;
  // clip-path:polygon(0 0, 100% 0, 100% 74vh, 0 100%);
  text-align: center;
}

.navbar{
  width: 100%;
  position: fixed;
  text-align: center;
  z-index: 1000;

  &__logo{
    height: 4rem;
    display: block;
    position: absolute;
    top: 3.4rem;
    left: 8rem;
    &:hover{
        box-shadow: 0 1rem 2rem rgba($black, .2);
    }

  }
  &__list{
    list-style: none;
    display: block;
    position: absolute;
    top: 3.4rem;
    right: 16rem;
  }

  &__item{
    display: inline-block;
    &:not(:last-child){
      margin-right: 1rem;

    }
  }
  &__link:link, &__link:visited{
    color: $primary;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-top: .1rem solid transparent;
    padding: 1rem 2rem;
    backface-visibility: hidden;
    transition: all .2s;

    &:hover{
        box-shadow: 0 1rem 2rem rgba($black, .2);
        border-top: .2rem solid $primary;
    }
  }
}

.text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}
